.App {
  text-align: center;
  font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  background-color: rgba(106, 167, 106, 0.746);
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2.2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-size: .9em;
}

.main-feedback-form {
  margin: 0 10%;
}

.feedback-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-col-1, .feedback-col-3 {
  width: 20%;
  align-items: center;
  
}

.feedback-col-2 {
  width: 60%;
}

.back-button, .next-button {
  margin: 25%;
}

.spacing-div {
  width: 90px;
  height: 90px; 
}
