.App {
  text-align: center;
  font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.main-feedback-form {
  margin: 0 15%;
}